<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}
    {% include nav.html %}
    {% include search.html %}

    {{ content }}
    <head>
    <!-- ... -->
    <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
    <!-- ... -->
    </head>
    <body>
    <!-- ... -->
    <div id="waline"></div>
    <script type="module">
        import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

        init({
        el: '#waline',
        serverURL: 'https://blogwaline.cc.cd',
        });
    </script>
    </body>
    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
