---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <!-- Multi-Lingual -->
                {% if page.multilingual %}
                    {% include multilingual-sel.html %}
                {% endif %}

				{{ content }}
                
                 <!-- ========== 在这里插入 Waline 评论 ========== -->
                <hr style="margin: 40px 0 30px;" />
                
                <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
                <div id="waline"></div>
                <script>
                    setTimeout(function() {
                        // 动态导入 Waline
                        import('https://unpkg.com/@waline/client@v2/dist/waline.mjs').then(module => {
                            const { init } = module;
                            init({
                                el: '#waline',
                                serverURL: 'https://你的-waline-服务端地址/',
                                path: window.location.pathname,
                                lang: 'zh-CN',
                            });
                        }).catch(err => {
                            console.log('Waline 加载失败，请稍后刷新', err);
                        });
                    }, 3000); // 延迟 3 秒加载，页面先显示内容
                </script>

                <script type="module">
                    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
                    
                    init({
                        el: '#waline',
                        serverURL: 'https://blogwaline.cc.cd/', // 替换成你的实际地址
                        path: window.location.pathname,
                        lang: 'zh-CN',
                        // 可选：如果你希望评论数和文章关联更准确，可以加上这个
                        pageSize: 15, // 每页评论数
                    });
                </script>
                <!-- ========== Waline 评论结束 ========== -->
                <style>
                    /* 强制覆盖 Waline 默认样式 - 使用更具体的选择器 */
                    
                    /* 1. 评论列表中的所有文字整体放大 */
                    #waline .wl-comment,
                    #waline .wl-comment * {
                        font-size: 16px !important;
                    }
                    
                    /* 2. ★ 最关键：评论内容的字体（解决"加油！"太小的问题） */
                    #waline .wl-content,
                    #waline .wl-content p,
                    #waline .wl-content span,
                    #waline .wl-content div {
                        font-size: 16px !important;
                        line-height: 1.8 !important;
                    }
                    
                    /* 3. 评论者的昵称 */
                    #waline .wl-nick {
                        font-size: 15px !important;
                        font-weight: 600 !important;
                    }
                    
                    /* 4. 评论时间 */
                    #waline .wl-time {
                        font-size: 13px !important;
                    }
                    
                    /* 5. 评论的元信息（比如"江苏省 Edge150.0..."） */
                    #waline .wl-meta {
                        font-size: 13px !important;
                        color: #999 !important;
                    }
                    
                    /* 6. 输入框里的文字（"欢迎评论"） */
                    #waline .wl-editor textarea,
                    #waline .wl-editor .wl-input {
                        font-size: 16px !important;
                    }
                    
                    /* 7. 提交按钮和字数统计 */
                    #waline .wl-btn,
                    #waline .wl-count {
                        font-size: 14px !important;
                    }
                    
                    /* 8. 排序选项 */
                    #waline .wl-tabs .wl-tab {
                        font-size: 14px !important;
                    }
                    
                    /* 9. Waline 底部版权信息 */
                    #waline .wl-footer {
                        font-size: 12px !important;
                    }
                </style>
                <hr style="visibility: hidden;">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr style="visibility: hidden;">

            </div>  

    <!-- Side Catalog Container -->
        {% unless page.no-catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endunless %}

    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>

<!-- add support for mathjax by voleking-->
{% if page.mathjax %}
  {% include mathjax_support.html %}
{% endif %}

{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'hover',
          placement: 'right',
          // icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}
